<section class="view newgame-view" id="newgame-view" v-cloak>
	<h1>{{ i8n("Great! What are your names?") }} :)</h1>
	<input type="text" v-model="player_1.name" name="player-1"/ v-bind:value="player_1.name">
	<input type="text" v-model="player_2.name" name="player-2"/ v-bind:value="player_2.name">
	<div class="newgame-view-buttons">
		<button class="cancel" v-on:click="prevView()">{{ i8n("back") }}</button>
		<button class="primary" v-on:click="nextView()">{{ i8n("continue") }}</button>
	</div>
</section>

